<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/all.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="header">
        <h1><a href="/blueshop" id="title"><i class="fas fa-cart-shopping"></i>Blue shop</a></h1>
        <div th:if="${username != null}" class="header_button">
            <a href="/blueshop/infor" th:text="@{${'Hello, '+username+'!'}}" id="user"></a>
            <div class="user-icon" onclick="showDropdown()" id="js-user-icon">
                <i class="fas fa-user" onclick="showDropdown()" ></i>
            </div>
            <div class="dropdown-content" id="myDropdown">
                <a href="/blueshop/infor" class="see-detail">See all profiles</a>
                <a href="/blueshop" class="js-home"><i class="fas fa-house"></i>Home</a>
                <a href="/product"><i class="fas fa-shop"></i>My shop</a>
                <a href="#"><i class="fas fa-gear"></i>Setting & privacy</a>
                <a href="#"><i class="fas fa-question"></i>Help & support</a>
                <a href="/blueshop/logout"><i class="fas fa-right-from-bracket"></i>Log Out</a>
            </div>
        </div>
        
        <div th:unless="${username != null}" class="header_button">
            <form action="/blueshop/login" method="GET">
                <button class="js-login">Login</button>
            </form>
            <form action="/blueshop/signup" method="GET">
                <button class="js-signup">Sign Up</button>
            </form>
        </div>
    </div>

    <script>
        var click = document.getElementById('js-user-icon')
        var dropdown = document.getElementById("myDropdown");

        function showDropdown() {
            var dropdown = document.getElementById("myDropdown");
            dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        }

        document.addEventListener('click', function(event) {
            // event.target: lưu vị trí ng dùng vừa click
            // Nếu dropdown không chứa vị trí ấy và vị trí ấy không trùng với click
            if (!dropdown.contains(event.target) && event.target !== click) {
                dropdown.style.display = 'none';
            }
        });
    </script>
</body>
</html>