<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/all.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="header"></div>
    <div class="modal js-modal-signup open">
        <div class="modal-container">
            <div id="modal-header">
                <h3>Now, create a new account</h3>
            </div>
            <div id="modal-body">
                <form method="POST" action="/blueshop/insert" th:object="${user}">
                    <h2>Personal information</h2>
                    <input type="text" th:field="*{username}" placeholder="Enter username"/>
                    <p th:if="${#fields.hasErrors('username')}"  th:errors="*{username}" class="error"></p>
                    <p th:if="${error}"  th:text="${error}" class="error"></p>
                    <input type="text" th:field="*{password}" placeholder="Enter password"/>
                    <p th:if="${#fields.hasErrors('password')}"  th:errors="*{password}" class="error"></p>
                    <input type="text" th:field="*{fullname}" placeholder="Enter fullname"/>
                    <p th:if="${#fields.hasErrors('fullname')}"  th:errors="*{fullname}" class="error"></p>
                    <input type="date" th:field="*{dob}"/>
                    <input type="text" th:field="*{email}" placeholder="Enter email"/>
                    <input type="text" th:field="*{phone}" placeholder="Enter phone number"/>
                    <p class="agree">By clicking Sign Up, you agree to our Terms, Privacy Policy and Cookies Policy. You may receive SMS notifications from us and can opt out at any time.</p>
                    <button id="signup">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>