<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="header">
        <h1><a href="/blueshop" id="title">Blue shop</a></h1>
        <div th:if="${username != null}" class="header_button">
            <a href="/blueshop/infor" th:text="@{${'Hello, '+username+'!'}}" id="user"></a>
            <a href="/blueshop/logout"><button class="js-logout">Log Out</button></a>
        </div>
        
        <div th:unless="${username != null}" class="header_button">
            <button class="js-login">Login</button>
            <button class="js-signup">Sign Up</button>
        </div>
    </div>
    <div class="content">
        <div id="header-content">
            <div></div>
            <div id="header-content-btn">
                <a href="/blueshop" class="js-home">Home</a>
                <a href="/product/addproduct" class="js-add-product">Add product</a>
                <a href="/product" class="js-your-product">Your product</a>
            </div>
        </div>

        <div th:object="${product}" class="product-detail">
            <img th:src="@{${'/product/image/'+product.getIdproduct()}}" alt="Product Image" class="productImageDetail" h>
            <p th:text="${product.getProductname()}" class="productName"></p>
            <p id="priceDetail" th:text="@{${product.getStringGia() + ' VNĐ'}}"></p> 
            <div class="add-note">
                <p th:text="@{${'Sold: '+product.getDaban()}}"></p>
                <p th:text="@{${'Available: '+product.getSolg()}}"></p>
                <p th:text="@{${'Provided by '+product.getUser().getFullname()}}"></p>
                <a href="/product/id">View show</a>
            </div>
            <div class="product-description">
                <p>Product description:</p>
                <p th:text="${product.getNote()}"></p>
            </div>
            
            <button><a href="">Buy now</a></button>
        </div>
    </div>
    <th:block th:include="footer"></th:block> 
</body>
</html>