<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
</head>
<body>
    <th:block th:include="header"></th:block>  
    <div class="content">
        <div id="header-content">
            <div></div>
            <div id="header-content-btn">
                <a href="/blueshop" class="js-home">Home</a>
                <a href="/product/addproduct" class="js-add-product">Add product</a>
                <a href="/product" class="js-your-product">Your product</a>
            </div>
        </div>

        <div th:object="${bill}" class="buy-product">
            <img th:src="@{${'/product/image/'+bill.getProduct.getIdproduct()}}" alt="Product Image" class="productImageDetail" h>
            <p th:text="${bill.getProduct.getProductname()}" class="productName"></p>
            <p id="priceDetail" th:text="@{${bill.Product.getStringGia() + ' VNĐ'}}"></p> 
            <div class="buy-info">
                <form action="" method="POST">
                    <input type="text" placeholder="Quantity" th:field="*{solg}" name="solg">
                    <p th:text="@{${'Total: '+solg}}"></p>
                </form>
            </div>
            
            <button><a href="">Buy now</a></button>
        </div>
    </div>
</body>
</html>