<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${'Change product information for ' + product.getProductname()}"></h1>
    <br/>
    <form method="POST" 
        th:action="@{${'/product/update/'+product.getIdproduct()}}" 
        th:object="${product}"
        enctype="multipart/form-data"> 
        <table>
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Product name</td>
                <td><input type="text" 
                        th:field="*{productname}"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td th:if="${#fields.hasErrors('productname')}" th:errors="*{productname}" class="error"></td>
                <td></td>
            </tr>
            <tr>
                <td>Price </td>
                <td><input type="text" 
                    th:field="*{gia}"/>
                </td>
            </tr>
            <tr>
                <td>Image</td>
                <td><input type="file" name="imagefile"/>
                </td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td><input type="text" 
                    th:field="*{solg}"/>
                </td>
            </tr>
            <tr>
                <td>Note</td>
                <td><input type="text" 
                    th:field="*{note}"/>
                </td>
            </tr>
        </table>
        <input type="submit" value="Update" />
    </form>
    <a href="../../product">
        Go to Home
    </a>
</body>
</html>