<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/all.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <th:block th:include="header"></th:block>
    <div class="content">
        <div th:object="${product}" class="product-detail">
            <img th:src="@{${'/product/image/'+product.getIdproduct()}}" alt="Product Image" class="productImageDetail" h>
            <p th:text="${product.getProductname()}" class="productName"></p>
            <p id="priceDetail" th:text="@{${product.getStringGia() + ' VNĐ'}}"></p> 
            <div class="add-note">
                <p th:text="@{${'Sold: '+product.getDaban()}}"></p>
                <p th:text="@{${'Available: '+product.getSolg()}}"></p>
                <p>Provided by <a th:href="@{${'/product/shop/'+product.getShop().getIdshop()}}" th:text="${product.getShop().getNameshop()}"></a></p>
            </div>
            <div class="product-description">
                <p>Product description:</p>
                <!-- sử dụng readonly: không sửa dc, nhưng copy được; disable: không sửa được, không copy được -->
                <div class="text" th:utext="${product.getNote()}"></div>
            </div>
            
            <button><a href="">Buy now</a></button>
        </div>
    </div>
    <th:block th:include="footer"></th:block> 
</body>
</html>