<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
</head>
<body>
    <th:block th:include="header"></th:block>  
    <div class="content">
        <div id="header-content">
            <div></div>
            <div id="header-content-btn">
                <a href="/blueshop" class="js-home">Home</a>
                <a href="/product/addproduct" class="js-add-product">Add product</a>
                <a href="/product" class="js-your-product">Your product</a>
            </div>
        </div>

        <div th:object="${product}" class="product-detail">
            <img th:src="@{${'/product/image/'+product.getIdproduct()}}" alt="Product Image" class="productImageDetail" h>
            <p th:text="${product.getProductname()}" class="productName"></p>
            <p id="priceDetail" th:text="@{${product.getStringGia() + ' VNĐ'}}"></p> 
            <div class="add-note">
                <p th:text="@{${'Sold: '+product.getDaban()}}"></p>
                <p th:text="@{${'Available: '+product.getSolg()}}"></p>
                <p th:text="@{${'Provided by '+product.getUser().getFullname()}}"></p>
                <a th:href="@{${'/product/shop/'+product.getIdproduct()}}">View show</a>
            </div>
            <div class="product-description">
                <p>Product description:</p>
                <p th:text="${product.getNote()}"></p>
            </div>
            
            <button><a href="">Buy now</a></button>
        </div>
    </div>
</body>
</html>